<h1>Currencies</h1>

<script type="text/javascript">
  
  document.addEventListener('DOMContentLoaded', apiFetch())

  function apiFetch(){
    fetch("https://api.coindesk.com/v1/bpi/currentprice/XBT.json")
      .then(res => res.json())
      .then(jsonData => jsonData.forEach(currencyObj))
  };


  function currencyObj(jsonData){
    console.log(jsonData)
    let apiContainer = document.getElementById("api-render")
    let apiDiv = document.createElement("div")
    apiDiv.innerText = jsonData
    apiContainer.appendChild(apiDiv)
  };

</script>
  
<div id="api-title">
</div>
  <div id="api-render">

  </div>

<div id="carouselConrols" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <% @currencies.each_with_index do |currency, index| %>
            <% if index == 0 %>
                <div class="carousel-item active" data-interval="5000">
            <% else %>
                <div class="carousel-item" data-interval="5000">
            <% end %>
                <% if currency.image.attached? %>
                    <%= image_tag currency.image, class: "d-block w-100", style: "height: 8rem; margin-bottom: 10rem;" %>
                <% end %>
                    <div class="carousel-caption d-none d-md-block" >
                        <h2><%= link_to currency.name, currency %></h2>
                        <h5 style="color: black;">(<%= currency.symbol %>)<h5>
                    </div>
                </div>
        <% end %>
    </div>
</div>
