<h1>Currencies</h1>

<% @currencies.each_with_index do |currency, index| %>
    <% if (index + 1) % 2 != 0 %>
        <div class="row">
    <% end %>
        <div class="col">
            <div class="card " style="width: 100%;">
                <% if currency.image.attached? %>
                    <%= image_tag currency.image, class: "card-img-top", style: "height: 8rem; padding-top: 1rem; padding-bottom: 1rem;" %>
                <% end %>
                <div class="card-body">
                    <%= link_to "#{currency.name} (#{currency.symbol})", currency, class: "btn btn-primary d-flex justify-content-center" %>
                </div>
            </div>
        </div>
    <% if (index + 1) % 2 == 0 %>
        </div>
    <% end %>
<% end %>
