<h1>Currencies</h1>
  
<div id="api-title">
</div>
  <div id="api-render">

  </div>

<div id="carouselConrols" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <% @currencies.each_with_index do |currency, index| %>
            <% if index == 0 %>
                <div class="carousel-item active" data-interval="5000">
            <% else %>
                <div class="carousel-item" data-interval="5000">
            <% end %>
                <% if currency.image.attached? %>
                    <%= image_tag currency.image, class: "d-block w-100", style: "height: 8rem; margin-bottom: 10rem;" %>
                <% end %>
                    <div class="carousel-caption d-none d-md-block" >
                        <h2><%= link_to currency.name, currency %></h2>
                        <h5 style="color: black;">(<%= currency.symbol %>)<h5>
                    </div>
                </div>
        <% end %>
    </div>
</div>
