<h1>Your Wallets</h1>
<% if get_current_user %>
    <ul>
        <% @wallets.each do |wallet| %>
            <li><%= link_to "#{wallet.currency.symbol}", wallet %></li>
        <% end %>
    </ul>
<% end %>

<%= render "add_wallet_button" %>
